body {
    background-color:#c0fdff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

header {
    display: flex;
    width: 100%;
    background-color: #6abfff;
}

.icon {
    max-width: 150px;
    max-height: 150px;
    padding: 12px;
}

#address-box {
    max-height: 150px;
    padding-left: 12px;
}

#addKoala {
    margin:12px;
    text-align: center;
}

#inputs-box {
    display: flex;
    width: 100%;
    justify-content: center;
}

button {
    border-radius: 8px;
    background-color: #85c8fbcb;
    border-width: 1.5px;
}

button:hover {
    background-color: #d8bbff;
}

#all-koalas {
    text-align: center;
    padding-top: 30px;
}

input, select, #addButton {
    margin: 5px;
    padding: 2px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: 1px solid rgba(0, 0, 0, 0.373);
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #d8bbff;
}

tbody tr:nth-child(even) {
    background-color: #d0d1ff9b;
}

tbody tr:nth-child(odd) {
    background-color: #c8e7ff76;
}